[Desktop Entry]
Encoding=UTF-8
Name=Link to tutorial.glade
Type=Link
URL=https://github.com/micronanolab/Coil-System-Core/blob/master/Code/tutorial.glade
Icon=text-html
